@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyBlackItalic';
  src: url('./assets/fonts/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    'cairo',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;

  font-weight: 400;
}

:root {
  --foreground: oklch(31.232% 0.06732 280.618);
  --primary: oklch(31.232% 0.06732 280.618);
  --secondary: oklch(67.59% 0.0998 77.767);
  --accent: oklch(77.987% 0.12039 77.487);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(67.47% 0.19221 148.636);
  --warn: oklch(82.668% 0.15956 77.452);
  --border: oklch(82.899% 0.00482 258.583);
  --radius: 0.625rem;
  --background: oklch(100% 0.00011 271.152);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --card-secondary: oklch(77.987% 0.12039 77.487);
  --popover: oklch(100% 0.00011 271.152);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(100% 0.00011 271.152);
  --muted: oklch(59.252% 0.00853 16.964);
  --muted-foreground: oklch(100% 0.00011 271.152);
  --accent-foreground: oklch(0% 0 0);
  --input: oklch(82.899% 0.00482 258.583);
  --ring: var(--secondary);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --gilroy: 'GilroyBlackItalic';

  --diamond: #70b9f8;
  --gold: #f3d734;
  --silver: #898889;
  --bronse: #884108;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warn: var(--warn);
  --color-border: var(--border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-card-secondary: var(--card-secondary);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-gilroy: var(--gilroy);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility card {
  @apply bg-card-secondary flex flex-col items-center space-y-2 rounded-xl border py-6 text-center shadow-md transition-transform duration-500 hover:-translate-y-1 hover:scale-101;
}

.podcast-hero-background {
  background: url(/src/assets/images/podcast-hero.webp) no-repeat center center;
  background-size: cover;
}

.bod-logo-split {
  background-image: url(/src/assets/images/bod-logo.webp);
  background-size: 185px;
  height: 40px;
}

@utility diamond-gradient {
  background: #70b9f8;
  background: linear-gradient(
    180deg,
    rgba(112, 185, 248, 1) 0%,
    rgba(230, 238, 245, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

@utility gold-gradient {
  background: #898889;
  background: linear-gradient(
    180deg,
    rgba(137, 136, 137, 1) 0%,
    rgba(186, 184, 187, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

@utility silver-gradient {
  background: #f3d734;
  background: linear-gradient(
    180deg,
    rgba(243, 215, 52, 1) 0%,
    rgba(247, 240, 193, 1) 31%,
    rgba(255, 240, 215, 1) 66%,
    rgba(255, 255, 255, 1) 100%
  );
}

@utility bronse-gradient {
  background: #884108;
  background: linear-gradient(
    180deg,
    rgba(136, 65, 8, 1) 0%,
    rgba(234, 179, 134, 1) 30%,
    rgba(255, 250, 245, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility main-hero-background {
  background: url('./assets/images/hero.webp') no-repeat center center;
  background-size: cover;
  background-position: 20% 20%;
}

@utility cup-hero-background {
  background: url('./assets/images/hero2.webp') no-repeat center center;
  background-size: cover;
}

@utility illustration-background {
  background: url('./assets/images/bg-texture.svg') no-repeat center center;
  background-size: cover;
}

@utility text-outline {
  -webkit-text-stroke: 1px var(--color-primary);
  -webkit-text-fill-color: transparent;
  text-stroke: 1px var(--color-primary);
  text-fill-color: transparent;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility step-number-text {
  line-height: 110px;
  font-size: 7.75rem;
}

@utility logo-spinner {
  animation: spin 4s linear infinite;
}

@utility logo-spinner-reverse {
  animation: spin 4s linear infinite reverse;
}
@utility spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width >= 40rem /* 640px */) {
  .container {
    padding-inline: 2rem;
  }
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */
